# 환경 변수 파일들
.env
.env.local
.env.development
.env.test
.env.production

# Python 관련
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE 설정
.vscode/
.idea/
*.swp
*.swo

# OS 관련
.DS_Store
Thumbs.db

# 로그 파일
*.log

# 임시 파일
*.tmp
*.temp

# API 키 및 민감한 정보
config.json
secrets.json
credentials.json

# 데이터베이스
*.db
*.sqlite
*.sqlite3

# 빌드 파일
dist/
build/
*.egg-info/

#파일 제외
unsus.pdf 
인공지능 학습을 위한 진동 데이터 분석 및 라벨링 보고서.pdf
전동기 고장 데이터 설명자료.pdf
search_ai.ipynb
#폴더 제외 
images/